<div
    class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto" cdkScrollable style="background: white">

    <!-- Main -->
    <div class="flex flex-auto p-2 sm:p-10">
        <!-- Filters -->
        <div class="flex w-full justify-between h-12">

            <div class="text-2xl font-normal">Form {{branchName}}</div>

            <div class="flex">
                <mat-form-field
                    class="w-full sm:w-36"
                    [subscriptSizing]="'dynamic'">
                    <mat-select
                        [value]="'TUTTI'"
                        (selectionChange)="filterByStatus($event)">
                        <mat-option [value]="'TUTTI'">TUTTI</mat-option>
                        <mat-option *ngFor="let status of formStatus" [value]="status">
                            {{ status }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                    class="mt-4 w-full sm:ml-4 sm:mt-0 sm:w-72"
                    [subscriptSizing]="'dynamic'">
                    <mat-icon
                        matPrefix
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:magnifying-glass'"
                    ></mat-icon>
                    <input
                        (input)="filterByQuery(query.value)"
                        placeholder="Ricerca per nome form o codice"
                        matInput
                        #query
                    />
                </mat-form-field>
            </div>

        </div>
    </div>


    <div class="flex flex-auto p-6 sm:p-10">
        <div class="mx-auto w-full">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-10">
                <ng-container *ngFor="let form of forms | formpipe: choosedStatus">
                    <app-formcard [form]="form" [tooltip]="tooltip"></app-formcard>
                </ng-container>
            </div>
        </div>
    </div>



</div>
