<div *ngIf="branchConfigurationDTO == null || (branchConfigurationDTO?.instanceStatus!='success'); else elseBlock">
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">{{this.currentBranch?.branchCode}}</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                {{this.currentBranch?.name}}
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Configura un numero what's app per iniziare ad utilizzare i servizi del portale 20m2
            </div>
            <div class="flex items-center">
                <button
                    class="fuse-mat-button-large mt-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="buttonConfigurationClick"
                    (click)="configureNumber()">
                    <mat-icon [svgIcon]="'heroicons_outline:qr-code'"></mat-icon>
                    <span *ngIf="!buttonConfigurationClick" style="margin-left: 3px; font-size: 12px;">Ottieni il Qr Code</span>
                    <mat-progress-spinner
                        *ngIf="buttonConfigurationClick"
                        [diameter]="20"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>

            </div>
            <div *ngIf="remainingSeconds>1" class="p-12">
                <img [src]="qrCodeImage" alt="Base64 Image" style="height: 150px; width: 150px; object-fit: cover;">
            </div>
        </div>
    </div>

<!--    <div class="flex flex-col w-full">-->
<!--        -->
<!--        <div *ngIf="remainingSeconds>1">-->
<!--            <div class="font-medium tracking-tight text-secondary text-xs">-->
<!--                Associa il tuo dispositivo scannerizzando il qr code tramite What's App. Il qr code ha validità di {{remainingSeconds}} secondi.-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
</div>
<ng-template #elseBlock>
    <configure-opening></configure-opening>
</ng-template>
