<div *ngIf="branchConfigurationDTO == null || (branchConfigurationDTO?.instanceStatus!='success'); else elseBlock">
    <div class="flex flex-col w-full">
        <div class="mb-2">
            <h2 class="text-xl font-semibold tracking-tight leading-6">Configura Numero</h2>
            <div class="font-medium tracking-tight text-secondary text-xs">
                Configura un numero what's app per iniziare ad utilizzare il servizio
            </div>
        </div>
        <div *ngIf="remainingSeconds>1">
            <img [src]="qrCodeImage" alt="Base64 Image" style="height: 150px; width: 150px; object-fit: cover;">
        </div>
        <div *ngIf="remainingSeconds>1">
            <div class="font-medium tracking-tight text-secondary text-xs">
                Associa il tuo dispositivo scannerizzando il qr code tramite What's App. Il qr code ha validità di {{remainingSeconds}} secondi.
            </div>
        </div>
        <div class="flex items-center">
            <button
                class="fuse-mat-button-large mt-4"
                mat-flat-button
                [color]="'primary'"
                [disabled]="buttonConfigurationClick"
                (click)="configureNumber()">
                <mat-icon [svgIcon]="'heroicons_outline:qr-code'"></mat-icon>
                <span *ngIf="!buttonConfigurationClick" style="margin-left: 3px; font-size: 12px;">Ottieni il Qr Code</span>
                <mat-progress-spinner
                    *ngIf="buttonConfigurationClick"
                    [diameter]="20"
                    [mode]="'indeterminate'"
                ></mat-progress-spinner>
            </button>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <configure-opening></configure-opening>
</ng-template>
