
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 pb-6 pt-6 p-5 gap-6 w-full min-w-0">
    <form class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden" [formGroup]="restaurantConfigForm" (ngSubmit)="saveConfiguration()">
        <div class="flex flex-col items-start">

            <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                <img
                    class="w-20 h-20 rounded-full ring-2 ring-bg-card"
                    src="{{this.branchConfigurationDTO?.profilePicUrl}}"
                    alt="User avatar">
            </div>
            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">{{this.branchConfigurationDTO?.displayName}}</div>
            <div class="flex items-center">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_outline:star'"></mat-icon>
                <div class="ml-1.5 leading-6 truncate text-secondary">{{this.currentBranch?.name}}</div>
            </div>
            <div class="flex items-center">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_outline:device-phone-mobile'"></mat-icon>
                <div class="ml-1.5 leading-6 truncate text-secondary">{{this.branchConfigurationDTO?.formattedNumber}}</div>

            </div>
            <div class="flex items-center">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_outline:hand-thumb-up'"></mat-icon>
                <div class="ml-1.5 leading-6 truncate text-secondary">{{this.branchConfigurationDTO?.instanceStatus}}</div>
            </div>

        </div>

        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-bold tracking-tight leading-6 truncate">Configurazioni generali</div>
        </div>
        <div class="flex flex-col mt-4 gt-sm:mt-0 gt-sm:ml-16">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Numero posti disponibili</mat-label>
                <input type="number" matInput placeholder="Numero posti disponibili" [formControlName]="'guests'">
            </mat-form-field>
        </div>
        <div class="flex flex-col mt-4 gt-sm:mt-0 gt-sm:ml-16">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Quante persone puoi accetare, al massimo, per singola prenotazione?</mat-label>
                <input type="number" matInput placeholder="Numero coperti che necessitano di conferma" [formControlName]="'maxTableNumber'">
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pl-3">
                <mat-label>Suddividi le fasce orarie in slot di: </mat-label>
                <mat-select [formControlName]="'bookingSlotInMinutes'">
                    <mat-option value="15">15 Minuti</mat-option>
                    <mat-option value="30">30 Minuti</mat-option>
                    <mat-option value="60">1 Ora</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'mat_outline:access_time'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pl-3">
                <mat-label>Cani ammessi? </mat-label>
                <mat-select [formControlName]="'dogsAllowed'">
                    <mat-option value="0">No</mat-option>
                    <mat-option value="5">Fino a 5 Kg</mat-option>
                    <mat-option value="10">Fino a 10 Kg</mat-option>
                    <mat-option value="15">Fino a 15 Kg</mat-option>
                    <mat-option value="30">Fino a 30 Kg</mat-option>
                    <mat-option value="99">Più di 30 Kg</mat-option>
                </mat-select>
                <img
                    class="w-6 ml-2"
                    [src]="'assets/images/others/penny.svg'">
            </mat-form-field>
        </div>

        <div class="flex flex-col mt-2 gt-sm:mt-0 gt-sm:ml-16">
                    <span class="font-medium mb-2">Conferma la prenotazione
                    <mat-icon [matTooltip]="tooltip || 'Una volta che il cliente prenota il gestore dovrà confermare la prenotazione tramite portale o app'" [svgIcon]="'mat_outline:info'"></mat-icon></span>
            <mat-radio-group
                class="flex flex-col"
                [color]="'primary'"
                [formControlName]="'reservationConfirmedManually'">
                <mat-radio-button
                    class="mb-2"
                    [value]=true>
                    Invia conferma manualmente
                </mat-radio-button>
                <mat-radio-button
                    class="mb-2"
                    [value]=false>
                    Inviare conferma in automatico
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="restaurantConfigForm.get('reservationConfirmedManually').value === false" class="flex flex-col mt-4 gt-sm:mt-0 gt-sm:ml-16">
            <div class="font-medium mb-2">Quante prenotazioni (come numbero di ospiti) confermare in automatico prima di inserirle nella Lista D'Attesa?</div>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Numero Ospiti</mat-label>
                <input type="number" matInput placeholder="Numero Ospiti" [formControlName]="'guestReceivingAuthConfirm'">
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <div class="font-medium mb-2">
                Inviare messaggio all'utente per confermare prenotazione?
            </div>
            <mat-form-field class="flex-auto gt-xs:pl-3">
                <mat-select [formControlName]="'minBeforeSendConfirmMessage'">
                    <mat-option value="0">Non inviare</mat-option>
                    <mat-option value="30">30 Minuti prima</mat-option>
                    <mat-option value="60">1 Ora prima</mat-option>
                    <mat-option value="120">2 Ore prima</mat-option>
                    <mat-option value="240">4 Ore prima</mat-option>
                    <mat-option value="3600">6 Ore prima</mat-option>
                    <mat-option value="7200">12 Ore prima</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'mat_outline:access_time'"></mat-icon>
            </mat-form-field>
        </div>
        <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
            <button
                mat-flat-button
                [color]="'primary'">
                <mat-icon class="icon-size-5" [svgIcon]="'mat_outline:save'"></mat-icon>
                <span class="ml-2">Salva Configurazione</span>
            </button>
        </div>

    </form>

</div>

<div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
    <div class="flex flex-col sm:flex-row items-start justify-between">
        <div class="text-lg font-medium tracking-tight leading-6 truncate">{{this.currentWorkingForm.formName}}</div>
    </div>
    <form class="flex flex-col flex-auto" [formGroup]="formConfiguration" (ngSubmit)="saveConfiguration()">
        <div class="font-medium mb-2">
            Tipo form
        </div>
        <mat-form-field class="flex-auto gt-xs:pl-3">
            <mat-select [formControlName]="'formType'">
                <mat-option value="BOOKING_FORM">Form di prenotazione</mat-option>
                <mat-option value="REDIRECT_FORM">Acquisizione dati</mat-option>
                <mat-option value="EVENT">Evento</mat-option>
            </mat-select>
            <mat-icon
                class="icon-size-5"
                matSuffix
                [svgIcon]="'heroicons_outline:clipboard-document-list'">
            </mat-icon>
        </mat-form-field>
        <div class="flex flex-col mt-4 gt-sm:mt-0 gt-sm:ml-16">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Reindirizzamento</mat-label>
                <input matInput placeholder="Reindirizzamento" [formControlName]="'redirectPage'">
                <mat-icon
                    class="icon-size-5"
                    matSuffix
                    [svgIcon]="'heroicons_outline:arrow-top-right-on-square'">
                </mat-icon>
            </mat-form-field>

        </div>
    </form>

    <div class="flex flex-col mt-2 divide-y">

        <ng-container *ngFor="let branchTimeRangeDTO of dataSource;">
            <div class="flex flex-row items-center justify-between py-2 px-0.5"> <!-- Adjusted padding -->
                <div class="flex flex-col">
                    <div class="font-medium text-sm">{{branchTimeRangeDTO.dayOfWeek}}</div> <!-- Smaller text -->
                    <div class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-1 space-y-1 sm:space-y-0 sm:space-x-2"> <!-- Adjusted spacing -->
                        <ng-container>
                            <div class="flex items-center">
                                <mat-icon class="icon-size-4 text-hint" [svgIcon]="'heroicons_solid:clock'" [style.color]="branchTimeRangeDTO.closed ? 'red' : 'green'"></mat-icon> <!-- Adjusted icon size -->
                                <div class="ml-1 text-sm" [ngStyle]="{'color': getTime(branchTimeRangeDTO.timeRanges) == 'CHIUSO' ? 'red' : 'inherit'}">
                                    {{ getTime(branchTimeRangeDTO.timeRanges) }}
                                </div>
                                <!-- Smaller text -->
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div>
                    <button mat-icon-button (click)="switchClosedStatus(branchTimeRangeDTO, this.currentWorkingForm.formCode)">
                        <mat-icon [svgIcon]="branchTimeRangeDTO.closed ? 'heroicons_solid:lock-closed' : 'heroicons_solid:lock-open'" [style.color]="branchTimeRangeDTO.closed ? 'red' : 'green'"></mat-icon>
                    </button>
                    <button mat-icon-button (click)="editHour(branchTimeRangeDTO)">
                        <mat-icon [svgIcon]="'mat_outline:edit'"></mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <tag></tag>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-1 w-full mt-8 sm:mt-4">
    <div style="padding-bottom: 5% "></div>
    <div class="sm:col-span-4">
        <form [formGroup]="urlform">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Condividi questo url tramite i tuoi social in modo tale che i tuoi clienti possano prenotare</mat-label>
                <mat-icon [matTooltip]="'Copia URL'" class="icon-size-5" [svgIcon]="'mat_outline:content_copy'" matPrefix (click)="copyUrl()"></mat-icon>
                <input [formControlName]="'url'" matInput readonly>

            </mat-form-field>
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>Oppure integralo in un iframe html nelle tue pagine web</mat-label>
                <mat-icon [matTooltip]="'Copia URL'" class="icon-size-5" [svgIcon]="'mat_outline:content_copy'" matPrefix (click)="copyUrl()"></mat-icon>
                <input [formControlName]="'iframe'" matInput readonly>

            </mat-form-field>
        </form>
    </div>
</div>

