<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <mat-tab-group [(selectedIndex)]="selectedTabIndex">
        <mat-tab label="Data">
            <div *ngIf="selectedTabIndex === 0">

                <div class="flex flex-col items-center justify-center mt-1">

<!--                    <div class="items-center justify-center">-->
<!--                        <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_outline:calendar-days'"></mat-icon>-->
<!--                        <span class="ml-2">Seleziona un giorno</span>-->
<!--                    </div>-->

                    <div class="flex items-center justify-between mt-4">
                        <div class="flex items-center">
                            <!-- Left arrow (adjust styling as needed) -->
                            <button mat-icon-button (click)="previousMonth()">
                                <mat-icon [svgIcon]="'heroicons_mini:arrow-small-left'"></mat-icon>
                            </button>

                            <!-- Your existing content -->
                            <span class="ml-2 font-bold">{{getMonthByMonthNumber(calendar.currentMonth)}} {{calendar.currentYear}}</span>
                        </div>

                        <!-- Right arrow (adjust styling as needed) -->
                        <button mat-icon-button (click)="nextMonth()">
                            <mat-icon [svgIcon]="'heroicons_mini:arrow-small-right'"></mat-icon>
                        </button>
                    </div>
                </div>

                <div class="grid grid-cols-7 sm:grid-cols-7 md:grid-cols-7 lg:grid-cols-7 xl:grid-cols-7 gap-1 mt-1">
                    <ng-container *ngFor="let dayOfWeek of calendar.daysOfWeek">
                        <div class="py-4 px-4">
                            <div class="content-center font-bold">{{ dayOfWeek }}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngFor="let day of calendar.daysInMonth">
                        <ng-container *ngIf="day.value > 0; else emptySlot">
                            <div
                                    class="flex flex-col items-center justify-center m-2 mb-1 p-1
                                    min-w-11 max-w-20 min-h-11 max-h-20
                                    rounded border-2
                                    cursor-pointer
                                    bg-card"
                                    [ngClass]="{'bg-grey': day.isOpen}"
                                    [class.border-primary]="isSelected(day)"

                                    (click)="selectDay(day)">

                                <div class="text-center break-all text-secondary font-bold">{{day.value}}</div>

                            </div>
                        </ng-container>
                        <ng-template #emptySlot>
                            <div class="py-4 px-4"></div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Ospiti">
            <!-- Content for Tab 2 -->
            {{selectedDate?.day}}
            {{selectedDate?.month + 1}}
            {{selectedDate?.year}}
            <div>
                <button mat-button (click)="goToTab(2)">Show Component 2</button>
            </div>
            <div *ngIf="selectedTabIndex === 1">Content for Component 2</div>
        </mat-tab>

        <mat-tab label="Fascia oraria">
            <!-- Content for Tab 3 -->
            <div>
                <button mat-button (click)="goToTab(0)">Show Component 3</button>
            </div>
            <div *ngIf="selectedTabIndex === 2">Content for Component 3</div>
        </mat-tab>
    </mat-tab-group>
</div>


