<div class="bg-card h-70 flex flex-col overflow-hidden rounded-2xl shadow">

    <div class="flex justify-between p-4">
        <div class="flex flex-col">
            <div class="flex items-center justify-between">
                <div class="rounded-full px-3 py-0.5 text-sm font-semibold"
                     [ngClass]="{
                    'bg-green-100 text-green-800 dark:bg-green-500 dark:text-green-50': form.formStatus == FormStatusEnum.ATTIVO,
                    'bg-pink-100 text-pink-800 dark:bg-pink-500 dark:text-pink-50': form.formStatus == FormStatusEnum.CANCELLATO,
                    'bg-amber-100 text-amber-800 dark:bg-amber-500 dark:text-amber-50': form.formStatus == FormStatusEnum.SOSPESO,
                }">
                    {{ form.formStatus }}
                </div>
                <div class="pl-3"><p><mat-slide-toggle [checked]="form.formStatus == FormStatusEnum.ATTIVO" (change)="onToggle($event)"></mat-slide-toggle></p></div>

            </div>
            <div class="mt-4 text-lg font-medium pl-2">
                {{ form.formName }}
            </div>
            <div class="my-6 h-1 border-t-2"></div>
        </div>
        <div [matTooltip]="tooltip || 'Carica immagine per form'"
             class="relative items-center justify-center w-16 h-16 rounded-full border-2 border-grey-700 overflow-hidden group">

            <!-- Profile Image -->
            <img [src]="'assets/images/logo/logo.png'" alt="Profile Image" class="w-full h-full object-cover">

            <ng-container>
                <!-- Default Icon (if no image available) -->
                <div class="flex items-center justify-center w-full h-full bg-gray-100">
                    <mat-icon class="text-gray-500 text-4xl">photo</mat-icon>
                </div>
            </ng-container>

            <!-- Upload Button Overlay -->
            <button class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity">
                <mat-icon class="text-white text-3xl">add_a_photo</mat-icon>
                <input type="file" class="absolute inset-0 opacity-0 cursor-pointer" (change)="onFileSelected($event)">
            </button>
        </div>


    </div>

    <div class="pl-2">
        Url Form
    </div>
    <div class="flex items-center mt-0.5 p-2">
        <input type="text" [value]="getFormUrl(form.formCode)" [disabled]="true" class="text-secondary line-clamp-2 border rounded px-2 py-1 w-full" />
        <button [matTooltip]="tooltip || 'Copia URL'" (click)="copyToClipboard(form.formCode)" class="ml-2 bg-white text rounded px-3 py-1">
            <mat-icon [svgIcon]="'heroicons_outline:clipboard-document-check'"></mat-icon>
        </button>
    </div>
    <div class="pl-2">
        Url Form integrato in Iframe
    </div>
    <div class="flex items-center mt-0.5 p-2">
        <input type="text" [value]="getIframeUrl(form.formCode)" [disabled]="true" class="text-secondary line-clamp-2 border rounded px-2 py-1 w-full" />
        <button [matTooltip]="tooltip || 'Copia codice Iframe'" (click)="copyToClipboard(form.formCode)" class="ml-2 bg-white text rounded px-3 py-1">
            <mat-icon [svgIcon]="'heroicons_outline:clipboard-document-check'"></mat-icon>
        </button>
    </div>
    <div class="pl-2">
        Redirect Page
    </div>
    <div class="flex items-center mt-0.5 p-2">
        <input type="text" [(ngModel)]="form.redirectPage" class="text-secondary line-clamp-2 border rounded px-2 py-1 w-full" />
        <button [matTooltip]="tooltip || 'Aggiorna redirect/thank you page'" (click)="updateRedirectPage(form)" class="ml-2 bg-white text-white rounded px-3 py-1">
            <mat-icon [svgIcon]="'heroicons_outline:check-circle'" style="color: green;"></mat-icon>
        </button>
    </div>

    <div class="pl-2 pb-2">Tags</div>
    <form class="p-2">
        <mat-form-field class="w-full">

            <mat-chip-grid #chipGrid aria-label="Inserisci form tag">
                <mat-chip-row *ngFor="let tagDefault of tags; trackBy: trackByFn" (removed)="remove(tagDefault)">
                    {{tagDefault}}
                    <button matChipRemove [attr.aria-label]="'remove ' + tagDefault">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input
                name="currentTag"
                placeholder="Nuovo tag.."
                #fruitInput
                [(ngModel)]="currentTag"
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
            />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits; trackBy: trackByFn" [value]="fruit">{{fruit}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <div class="text-secondary flex justify-between text-md leading-5 pl-2 pt-5 pb-5">
        <div class="flex">
            <mat-icon class="text-sm icon-size-5" [svgIcon]="'heroicons_outline:clock'"></mat-icon>
            <div class="ml-0.5">
                Creato il {{ form.creationDate }}
            </div>
        </div>

        <div class=" text-right dark:bg-transparent">
            <a mat-stroked-button [routerLink]="[form.formId]">
                <span class="inline-flex items-center">
                    <mat-icon [matTooltip]="tooltip || 'Mostra anteprima'" class="ml-1.5 icon-size-5" [svgIcon]="'heroicons_outline:arrow-small-right'"></mat-icon>
                </span>
            </a>
        </div>

    </div>
    <div class="mt-auto flex w-full flex-col">


        <div class="relative h-0.5">
            <div *ngIf="form.formStatus == FormStatusEnum.ATTIVO">
                <mat-progress-bar class="h-0.5" style="background: forestgreen" [value]="0"></mat-progress-bar>
            </div>
            <div *ngIf="form.formStatus == FormStatusEnum.SOSPESO">
                <mat-progress-bar class="h-0.5" style="background: orange" [value]="0"></mat-progress-bar>
            </div>
            <div *ngIf="form.formStatus == FormStatusEnum.CANCELLATO">
                <mat-progress-bar class="h-0.5" style="background: red" [value]="0"></mat-progress-bar>
            </div>
        </div>

        <div class="flex end-0.5">
            <div class="px-6 py-4 text-right">
                <a mat-stroked-button [routerLink]="[form.formId]">
                <span class="inline-flex items-center">
                    <mat-icon [matTooltip]="tooltip || 'Mostra anteprima'" class="icon-size-5" [svgIcon]="'heroicons_outline:computer-desktop'"></mat-icon>
                </span>
                </a>
            </div>
            <div class="px-6 py-4 text-right dark:bg-transparent">
                <a mat-stroked-button [routerLink]="[form.formId]">
                <span class="inline-flex items-center">
                    <mat-icon [matTooltip]="tooltip || 'Cancella'" class="icon-size-5" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                </span>
                </a>
            </div>
        </div>

    </div>
</div>
