<table class="table-auto w-full">
    <thead>
    <tr class="border-b">
        <th class="w-1/7 text-left p-2">Giorno</th>
        <th class="w-1/7 text-left p-2"></th>
        <th class="w-4/7 text-left text-sm">Ora Apertura/Ora Chiusura</th>
        <th class="w-1/7 text-left text-sm"><button
            color="accent"
            mat-icon-button
            [matTooltip]="tooltip || 'Aggiungi configurazione'">XXXXX
        </button></th>
    </tr>
    </thead>
    <tbody>
    <tr class="border-b">
        <td class="p-2">12/12/2024</td>
        <td class="p-2">
            <mat-slide-toggle color="primary"></mat-slide-toggle>
        </td>
        <td class="p-2">

            <div class="flex items-center mb-4">
                <div class="relative pr-2">
                    <select id="ho2uerrs17564" [(ngModel)]="selectedHour"
                            class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of this.generateTimeSlots()" [value]="hour">{{ hour }}</option>
                    </select>
                </div>

                <div class="relative">
                    <select id="dgadfgdfag" [(ngModel)]="selectedHour"
                            class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of this.generateTimeSlots()" [value]="hour">{{ hour }}</option>
                    </select>
                </div>
                <span class="inline-flex items-center justify-center px-2 py-1.5 ms-3 text-xs font-medium text-black bg-blue-950 rounded dark:bg-gray-700 dark:text-green-400">
                                            <mat-icon [svgIcon]="'heroicons_outline:moon'" class="icon-size-4" style="color: white;"></mat-icon>
                                        </span>

            </div>
            <div class="flex items-center mb-4">
                <div class="relative pr-2">
                    <select id="h12121212o2uerr5646s17564" [(ngModel)]="selectedHour"
                            class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of this.generateTimeSlots()" [value]="hour">{{ hour }}</option>
                    </select>
                </div>

                <div class="relative">
                    <select id="dgad123123fgwdfag" [(ngModel)]="selectedHour"
                            class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of this.generateTimeSlots()" [value]="hour">{{ hour }}</option>
                    </select>
                </div>
                <span class="inline-flex items-center justify-center px-2 py-1.5 ms-3 text-xs font-medium text-black bg-yellow-100 rounded dark:bg-gray-700 dark:text-green-400">
                                            <mat-icon [svgIcon]="'heroicons_outline:sun'" class="icon-size-4" style="color: red"></mat-icon>
                                        </span>

            </div>
        </td>

    </tr>
    </tbody>
</table>
