<table class="table-auto w-full" *transloco="let t">
    <thead>
    <tr class="border-b">
        <th class="w-2/10 text-left p-2">Giorno</th>
        <th class="w-1/10 text-left text-sm"></th>
        <th class="w-5/10 text-left text-sm">Fasce Orarie
            <button
                    (click)="resetConfiguration(form.formCode)"
                    mat-button [matTooltip]="tooltip || 'Reset Configurazione'" >
                <mat-icon [svgIcon]="'heroicons_outline:trash'" style="color: #b91c1c"></mat-icon></button>
        </th>

        <th class="w-1/10 text-left text-sm items-center">
            <button (click)="saveConfiguration()"
                    mat-button [matTooltip]="tooltip || 'Salva configurazione'"
                    [ngClass]="{ 'animate-bounce': timeSlotMap.size > 0 }">

            <mat-icon [svgIcon]="'feather:save'" [ngStyle]="{'color': timeSlotMap.size > 0 ? '#1e88dc' : '#898989'}"></mat-icon>

            </button>
        </th>
    </tr>
    </thead>
    <mat-slide-toggle
        (click)="manageOpeningDaysBasedOnCurrentState()"
        checked="{{this.isThisFormHasAnyConf()}}"
        class="pl-2" color="warn">Tutti i giorni
    </mat-slide-toggle>
    <tbody *ngFor="let regOpeningDay of form.regularOpeningHours" >
    <tr class="border-b">
        <td class="p-2"><mat-slide-toggle checked="{{!regOpeningDay.closed}}"
                                          (click)="changeStatusOfCurrentDay(form.formCode, regOpeningDay.dayOfWeek)"
                                          color="primary"></mat-slide-toggle>{{ t('days.' + regOpeningDay.dayOfWeek.toLowerCase()) }}</td>
        <td *ngIf="!regOpeningDay.closed"><mat-icon style="cursor: pointer;"
                                                    [svgIcon]="'heroicons_outline:plus'"
                                                    [matTooltip]="tooltip || 'Aggiungi fascia oraria'"
                                                    (click)="createTimeRange(form.formCode, regOpeningDay)"></mat-icon></td>
        <td class="flex flex-col p-2" *ngFor="let timeRange of regOpeningDay.timeRanges">
            <div class="flex items-center" *ngIf="!regOpeningDay.closed">
                <div class="relative pr-2">
                    <select id="1" (change)="onSelectChange(form.formCode, timeRange.timeRangeCode, $event, 0)" class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of UtilityForm.generateTimeSlots();" [attr.selected]="hour === getOpeningFormattedTime(timeRange) ? true : null">
                            {{ hour }}
                        </option>
                    </select>
                </div>
                <div class="relative">
                    <select id="2" (change)="onSelectChange(form.formCode,timeRange.timeRangeCode,$event,1)" class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of UtilityForm.generateTimeSlots();" [attr.selected]="hour === getClosingFormattedTime(timeRange) ? true : null">
                            {{ hour }}
                        </option>
                    </select>
                </div>
                <div *ngIf="isCurrentDateTimeGreaterThan18(timeRange.openingHour, timeRange.timeRangeCode); else elseBlock">

                    <span class="inline-flex items-center justify-center px-2 py-1.5 ms-3 text-xs font-medium text-black bg-blue-950 rounded dark:bg-gray-700 dark:text-green-400">
                                            <mat-icon [svgIcon]="'heroicons_outline:moon'" class="icon-size-4" style="color: white;"></mat-icon>
                                        </span>
                </div>
                <ng-template #elseBlock>
                    <span class="inline-flex items-center justify-center px-2 py-1.5 ms-3 text-xs font-medium text-black bg-yellow-100 rounded dark:bg-gray-700 dark:text-green-400">
                                            <mat-icon [svgIcon]="'heroicons_outline:sun'" class="icon-size-4" style="color: red"></mat-icon>
                                        </span>

                </ng-template>
                <mat-icon style="cursor: pointer;" [svgIcon]="'heroicons_outline:trash'"
                          [matTooltip]="tooltip || 'Cancella'"
                          (click)="deleteTimeRange(form.formCode, timeRange.timeRangeCode, regOpeningDay.dayOfWeek)"></mat-icon>

            </div>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>
