<div class="flex flex-col flex-auto items-center sm:justify-center min-w-10" style="background: white">
    <div class="w-full sm:w-auto py-6 px-3 sm:p-10 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full mx-auto sm:mx-0">

            <div class="w-20 mx-auto">
                <img src="assets/images/logo/logo.png">
            </div>
            <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">

                <mat-form-field class="w-full">
                    <mat-label style="font-size: 12px">Codice utente (UXXXXXXXX)</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'userCode'" [maxLength]="10" class="">
                    <mat-error *ngIf="signInForm.get('userCode').hasError('required')">
                        Inserisci il codice utente
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('userCode').hasError('minlength')">
                        Il codice utente deve essere lungo 10 caratteri (ex: U142R234125)
                    </mat-error>

                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label style="font-size: 12px">Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    </button>
                    <mat-error>
                        Inserisci la password
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex items-center justify-between w-full mt-1.5">
                    <mat-checkbox
                        class="-ml-2"
                        [color]="'accent'"
                        [formControlName]="'rememberMe'">
                        Remember me
                    </mat-checkbox>
                    <a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div>
                <fuse-alert
                    class="mt-8"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
                <!-- Submit button -->
                <button
                    class="w-full mt-6 rounded-md bg-slate-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-slate-700 focus:shadow-none active:bg-slate-700 hover:bg-slate-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                    mat-flat-button
                    [color]="'accent'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        ACCEDI
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>


            </form>
        </div>
    </div>
</div>
