<span class="mb-px font-medium leading-tight">Tags</span>
<div class="mt-1.5 rounded-md border border-gray-300 dark:border-gray-500 shadow-sm overflow-hidden">
    <!-- Header -->
    <div class="flex items-center -my-px py-2 px-3">
        <div class="flex items-center flex-auto min-w-0">
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
            <input
                class="min-w-0 ml-2 py-1 border-0"
                type="text"
                placeholder="Enter tag name"
                (input)="filterTags($event)"
                (keydown)="filterTagsInputKeyDown($event)"
                [maxLength]="50"
                #newTagInput>
        </div>
        <button
            class="ml-3 w-8 h-8 min-h-8"
            mat-icon-button
            (click)="toggleTagsEditMode()">
            <mat-icon
                *ngIf="!tagsEditMode"
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
            <mat-icon
                *ngIf="tagsEditMode"
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:check'"></mat-icon>
        </button>
    </div>
    <!-- Available tags -->
    <div class="h-44 leading-none overflow-y-auto border-t border-gray-300 dark:border-gray-500">
        <!-- Tags -->

        <ng-container *ngIf="!tagsEditMode">
            <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                <mat-checkbox
                    class="flex items-center h-10 min-h-10 pl-1 pr-4"
                    [color]="'primary'"
                    [checked]="branchConfigurationDTO.tags.includes(tag.id)"
                    (change)="toggleProductTag(tag, $event)">
                    {{tag.title}}
                </mat-checkbox>
            </ng-container>
        </ng-container>

        <!-- Tags editing -->
        <ng-container *ngIf="tagsEditMode">
            <div class="p-4 space-y-2">
                <ng-container *ngFor="let tag of filteredTags; trackBy: trackByFn">
                    <mat-form-field
                        class="fuse-mat-dense w-full"
                        [subscriptSizing]="'dynamic'">
                        <input
                            matInput
                            [value]="tag.title"
                            (input)="updateTagTitle(tag, $event)">
                        <button
                            mat-icon-button
                            (click)="deleteTag(tag)"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                        </button>
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>
        <div
            class="flex items-center h-10 min-h-10 -ml-0.5 pl-4 pr-3 leading-none cursor-pointer border-t hover:bg-gray-50 dark:hover:bg-hover"
            *ngIf="shouldShowCreateTagButton(newTagInput.value)"
            (click)="createTag(newTagInput.value); newTagInput.value = ''" matRipple>
            <mat-icon
                class="mr-2 icon-size-5"
                [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
            <div class="break-all">Create "<b>{{newTagInput.value}}</b>"</div>
        </div>
    </div>
</div>

<form>
    <mat-form-field style="width: 100%">
        <mat-label>Tag</mat-label>
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
            <div *ngFor="let tag of tags_list ">
                <mat-chip-row (removed)="remove(tag)">
                    {{tag}}
                    <button matChipRemove [attr.aria-label]="'remove ' + tag">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </div>


        </mat-chip-grid>
        <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
               [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addX($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <div *ngFor="let fruit of tags_list ">
                <mat-option [value]="fruit">{{fruit}}</mat-option>
            </div>>
        </mat-autocomplete>
    </mat-form-field>
</form>
