<table class="table-auto w-full">
    <thead>
    <tr class="border-b">
        <th class="w-1/7 text-left p-2">Giorno</th>
        <th class="w-1/7 text-left p-2"></th>
        <th class="w-1/7 text-left p-2">Ora Apertura/Ora Chiusura</th>
        <th class="w-4/7 text-left text-sm">Descrizione</th>
        <th class="w-1/7 text-left text-sm"><app-create-special-day-component></app-create-special-day-component></th>

    </tr>
    </thead>
    <tbody>
    <tr class="border-b">
        <td class="p-2">12/12/2024</td>
        <td class="p-2"><mat-icon style="cursor: pointer;"
                                  [svgIcon]="'heroicons_outline:plus'"
                                  [matTooltip]="tooltip || 'Aggiungi fascia oraria'"></mat-icon></td>

        <td class="p-2">
            <div class="flex items-center mb-4">
                <div class="relative pr-2">
                    <select id="1"
                            class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of timeSlot" [value]="hour">{{ hour }}</option>
                    </select>
                </div>

                <div class="relative">
                    <select id="2"
                            class="block appearance-none bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 h-full py-2 px-3">
                        <option *ngFor="let hour of timeSlot" [value]="hour">{{ hour }}</option>
                    </select>
                </div>
                <span class="inline-flex items-center justify-center px-2 py-1.5 ms-3 text-xs font-medium text-black bg-blue-950 rounded dark:bg-gray-700 dark:text-green-400">
                                            <mat-icon [svgIcon]="'heroicons_outline:moon'" class="icon-size-4" style="color: white;"></mat-icon>
                                        </span>
                <mat-icon style="cursor: pointer;" [svgIcon]="'heroicons_outline:trash'"
                          [matTooltip]="tooltip || 'Cancella'"
                          (click)="deleteTimeRange(form.formCode)"></mat-icon>


            </div>
        </td>
        <td>
            sdaf
        </td>

    </tr>
    </tbody>
</table>
