<!--<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">-->
<!--    <div class="w-full sm:w-auto py-1 px-1 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">-->
<!--        <div class="w-full max-w-90 sm:w-90 mx-auto sm:mx-0">-->
<!--            &lt;!&ndash; Logo &ndash;&gt;-->
<!--            <div class="w-12">-->
<!--                <img src="assets/images/logo/logo.png">-->
<!--            </div>-->

<!--            <div class="flex items-baseline mt-8  font-medium">-->
<!--                <div>Prenota un tavolo presso</div>-->
<!--            </div>-->
<!--            <div class="text-2xl font-extrabold tracking-tight leading-tight">{{this.customerFormData?.branchName ?? ''}}</div>-->

<!--            <div class="flex items-baseline mt-0.5 font-small">-->
<!--                <div>{{this.customerFormData?.address ?? ''}}</div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Alert &ndash;&gt;-->
<!--            <fuse-alert-->
<!--                    class="mt-8"-->
<!--                    *ngIf="showAlert"-->
<!--                    [appearance]="'outline'"-->
<!--                    [showIcon]="false"-->
<!--                    [type]="alert.type"-->
<!--                    [@shake]="alert.type === 'error'">-->
<!--                {{alert.message}}-->
<!--            </fuse-alert>-->
<!--            &lt;!&ndash; Sign Up form &ndash;&gt;-->
<!--            <form-->
<!--                    class="mt-8"-->
<!--                    [formGroup]="phoneValidationForm">-->

<!--                &lt;!&ndash; Name field &ndash;&gt;-->
<!--                <mat-form-field class="w-full">-->
<!--                    <input-->
<!--                            id="mobilePhone"-->
<!--                            matInput-->
<!--                            [placeholder]="'Cellulare'"-->
<!--                            [formControlName]="'mobilePhone'">-->
<!--                    <mat-select formControlName="selectedCountry" matPrefix>-->
<!--                        &lt;!&ndash; Europe &ndash;&gt;-->
<!--                        <mat-option value="93">Afghanistan (+93)</mat-option>-->
<!--                        <mat-option value="355">Albania (+355)</mat-option>-->
<!--                        <mat-option value="376">Andorra (+376)</mat-option>-->
<!--                        <mat-option value="374">Armenia (+374)</mat-option>-->
<!--                        <mat-option value="43">Austria (+43)</mat-option>-->
<!--                        <mat-option value="994">Azerbaijan (+994)</mat-option>-->
<!--                        <mat-option value="32">Belgium (+32)</mat-option>-->
<!--                        <mat-option value="387">Bosnia and Herzegovina (+387)</mat-option>-->
<!--                        <mat-option value="359">Bulgaria (+359)</mat-option>-->
<!--                        <mat-option value="385">Croatia (+385)</mat-option>-->
<!--                        <mat-option value="357">Cyprus (+357)</mat-option>-->
<!--                        <mat-option value="420">Czech Republic (+420)</mat-option>-->
<!--                        <mat-option value="45">Denmark (+45)</mat-option>-->
<!--                        <mat-option value="372">Estonia (+372)</mat-option>-->
<!--                        <mat-option value="358">Finland (+358)</mat-option>-->
<!--                        <mat-option value="33">France (+33)</mat-option>-->
<!--                        <mat-option value="49">Germany (+49)</mat-option>-->
<!--                        <mat-option value="30">Greece (+30)</mat-option>-->
<!--                        <mat-option value="36">Hungary (+36)</mat-option>-->
<!--                        <mat-option value="354">Iceland (+354)</mat-option>-->
<!--                        <mat-option value="353">Ireland (+353)</mat-option>-->
<!--                        <mat-option value="39">Italy (+39)</mat-option>-->
<!--                        <mat-option value="371">Latvia (+371)</mat-option>-->
<!--                        <mat-option value="423">Liechtenstein (+423)</mat-option>-->
<!--                        <mat-option value="370">Lithuania (+370)</mat-option>-->
<!--                        <mat-option value="352">Luxembourg (+352)</mat-option>-->
<!--                        <mat-option value="356">Malta (+356)</mat-option>-->
<!--                        <mat-option value="377">Monaco (+377)</mat-option>-->
<!--                        <mat-option value="382">Montenegro (+382)</mat-option>-->
<!--                        <mat-option value="31">Netherlands (+31)</mat-option>-->
<!--                        <mat-option value="47">Norway (+47)</mat-option>-->
<!--                        <mat-option value="48">Poland (+48)</mat-option>-->
<!--                        <mat-option value="351">Portugal (+351)</mat-option>-->
<!--                        <mat-option value="40">Romania (+40)</mat-option>-->
<!--                        <mat-option value="7">Russia (+7)</mat-option>-->
<!--                        <mat-option value="378">San Marino (+378)</mat-option>-->
<!--                        <mat-option value="381">Serbia (+381)</mat-option>-->
<!--                        <mat-option value="421">Slovakia (+421)</mat-option>-->
<!--                        <mat-option value="386">Slovenia (+386)</mat-option>-->
<!--                        <mat-option value="34">Spain (+34)</mat-option>-->
<!--                        <mat-option value="46">Sweden (+46)</mat-option>-->
<!--                        <mat-option value="41">Switzerland (+41)</mat-option>-->
<!--                        <mat-option value="90">Turkey (+90)</mat-option>-->
<!--                        <mat-option value="380">Ukraine (+380)</mat-option>-->
<!--                        <mat-option value="44">United Kingdom (+44)</mat-option>-->
<!--                        &lt;!&ndash; North America &ndash;&gt;-->
<!--                        <mat-option value="1">Canada (+1)</mat-option>-->
<!--                        <mat-option value="1">United States (+1)</mat-option>-->
<!--                        <mat-option value="52">Mexico (+52)</mat-option>-->
<!--                        &lt;!&ndash; China &ndash;&gt;-->
<!--                        <mat-option value="86">China (+86)</mat-option>-->
<!--                    </mat-select>-->
<!--                    <mat-icon [svgIcon]="'heroicons_solid:check-badge'" [style.color]="'green'" *ngIf="isPhoneVerified"></mat-icon>-->
<!--                    <mat-error *ngIf="phoneValidationForm.get('mobilePhone').hasError('required')">-->
<!--                        Inserisci il numero di cellulare-->
<!--                    </mat-error>-->
<!--                    <mat-error *ngIf="phoneValidationForm.get('mobilePhone').hasError('minLength')">-->
<!--                        Numero non valido-->
<!--                    </mat-error>-->

<!--                </mat-form-field>-->

<!--                <button-->
<!--                        class="fuse-mat-button-large w-full mt-6"-->
<!--                        mat-flat-button-->
<!--                        [color]="'accent'"-->
<!--                        [disabled]="phoneValidationForm.disabled"-->
<!--                        (click)="validatePhone()" *ngIf="!isPhoneVerified">-->
<!--                    <span *ngIf="!phoneValidationForm.disabled">-->
<!--                        Verifica Cellulare-->
<!--                    </span>-->
<!--                    <mat-progress-spinner-->
<!--                            *ngIf="phoneValidationForm.disabled"-->
<!--                            [diameter]="24"-->
<!--                            [mode]="'indeterminate'"></mat-progress-spinner>-->
<!--                </button>-->
<!--            </form>-->
<!--            <form *ngIf="isPhoneVerified" class="mt-1"-->
<!--                  [formGroup]="registerCustomerForm">-->

<!--                <mat-form-field class="w-full">-->
<!--                    <input-->
<!--                            id="name"-->
<!--                            matInput-->
<!--                            [placeholder]="'Nome'"-->
<!--                            [formControlName]="'name'">-->
<!--                    <mat-error *ngIf="registerCustomerForm.get('name').hasError('required')">-->
<!--                        Inserisci il nome-->
<!--                    </mat-error>-->
<!--                </mat-form-field>-->
<!--                <mat-form-field class="w-full">-->
<!--                    <input-->
<!--                            id="lastname"-->
<!--                            matInput-->
<!--                            [placeholder]="'Cognome'"-->
<!--                            [formControlName]="'lastname'">-->
<!--                    <mat-error *ngIf="registerCustomerForm.get('lastname').hasError('required')">-->
<!--                        Inserisci il cognome-->
<!--                    </mat-error>-->
<!--                </mat-form-field>-->
<!--                <mat-form-field class="w-full">-->
<!--                    <input-->
<!--                            id="email"-->
<!--                            matInput-->
<!--                            [placeholder]="'Email'"-->
<!--                            [formControlName]="'email'">-->
<!--                    <mat-error *ngIf="registerCustomerForm.get('email').hasError('required')">-->
<!--                        Inserisci la mail-->
<!--                    </mat-error>-->
<!--                </mat-form-field>-->
<!--                <div class="flex">-->
<!--                    <mat-form-field class="flex-auto">-->
<!--                        <input-->
<!--                                matInput-->
<!--                                [placeholder]="'Data di Nascita'"-->
<!--                                [matDatepicker]="picker1"-->
<!--                                (dateChange)="onChangeEvent($event)"-->
<!--                                (click)="picker1.open()">-->
<!--                        <mat-datepicker-toggle-->
<!--                                matSuffix-->
<!--                                [for]="picker1"-->
<!--                        ></mat-datepicker-toggle>-->
<!--                        <mat-datepicker #picker1></mat-datepicker>-->
<!--                    </mat-form-field>-->
<!--                </div>-->
<!--                <mat-error *ngIf="registerCustomerForm.get('dob').hasError('required')">-->
<!--                    Inserisci la data di nascita-->
<!--                </mat-error>-->
<!--                <div class="inline-flex items-end w-full mt-1.5">-->
<!--                    <mat-checkbox-->
<!--                            class="-ml-2"-->
<!--                            [color]="'accent'"-->
<!--                            [formControlName]="'agreements'">-->
<!--                        <span>Acconsento al trattamento dei dati personali </span>-->
<!--                        <a-->
<!--                                class="ml-1 text-primary-500 hover:underline"-->
<!--                                [routerLink]="['./']">Terms And Conditions-->
<!--                        </a>-->
<!--                    </mat-checkbox>-->
<!--                </div>-->
<!--                <button-->
<!--                        class="fuse-mat-button-large w-full mt-6"-->
<!--                        mat-flat-button-->
<!--                        [color]="'accent'"-->
<!--                        [disabled]="registerCustomerForm.disabled"-->
<!--                        (click)="registerCustomerAndGoToReservationPage()" *ngIf="isPhoneVerified">-->
<!--                    <span *ngIf="!registerCustomerForm.disabled">-->
<!--                        Trova un tavolo-->
<!--                    </span>-->
<!--                    <mat-progress-spinner-->
<!--                            *ngIf="registerCustomerForm.disabled"-->
<!--                            [diameter]="24"-->
<!--                            [mode]="'indeterminate'"></mat-progress-spinner>-->
<!--                </button>-->

<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-1 px-1 sm:p-12 sm:rounded-2xl sm:shadow sm:bg-card">
        <div class="w-full max-w-90 sm:w-90 mx-auto sm:mx-0">
<app-customcalendar></app-customcalendar>
        </div>
        </div>
        </div>
